*,
* ::after,
* ::before {
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.main {
    position: relative;
    display: flex;
}

.grid {
    display: flex;
}

.col {
    width: 325px;
}
.rotate {
   transform: rotate(-90deg);
}
.vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.relative {
    position: relative;
    margin-left: -60px; 
}
.absolute-sanssoleil {
    position: absolute;
    left:280px;
    top: 50px;
}
.margin {
    margin-top: -200px;
}
.font-size-150 {
    font-size: 150px;
}
.font-size-170 {
    font-size: 170px;
}
.font-size-55 {
    font-size: 55px;
}
.col-back {
    width: 20px;
    position: absolute;
    bottom: -150px;
}
.margin-top {
    margin-top: 400px;
}
.back-btn {
    text-decoration: none;
    color: black;
}
.movie-wrapper {
    margin-left: 60px;
    margin-top: -25px;
}
.description-container {
    display: flex;
    margin-bottom: 55px;
    margin-top: 70px;
}
.crew-details {
    margin-left: 75px;
}
.director-info {
    width: 220px;
    margin-left: auto;
    margin-right: 12px;
    margin-top: -25px;
}
.movie-description {
    width: 220px;
    text-transform: none;
}
.font-size-24 {
    font-size: 24px;
}
.font2caps {
    font-family: "Cormorant SC";
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 14px;
}

.font2 {
    font-family: "Cormorant SC";
    font-weight: normal;
    font-style: normal;
    text-transform: none;
    font-size: 14px;
}
.marker-image {
    margin-top: 100px;
    background-image: url("../images/Chris_Marker.jpg"); 
    background-repeat: repeat;
    height: 290px;
}

.herzog-image {
    margin-top: 100px;
    background-image: url("../images/herzog.png"); 
    background-repeat: repeat;
    height: 400px;
}
