*,
* ::after,
* ::before {
    box-sizing: border-box;
}
@font-face {
  font-family: 'DokChampa';
  src: url('/fonts/DokChampa.woff2') format('woff2'),
      url('/fonts/DokChampa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-Bold.woff2') format('woff2'),
      url('/fonts/FavoritPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-BoldItalic.woff2') format('woff2'),
      url('/fonts/FavoritPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro Book';
  src: url('/fonts/FavoritPro-Book.woff2') format('woff2'),
      url('/fonts/FavoritPro-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-LightItalic.woff2') format('woff2'),
      url('/fonts/FavoritPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('/fonts/FavoritPro-Medium.woff2') format('woff2'),
      url('/fonts/FavoritPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('fonts/FavoritPro-MediumItalic.woff2') format('woff2'),
      url('fonts/FavoritPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('fonts/FavoritPro-Italic.woff2') format('woff2'),
      url('fonts/FavoritPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('fonts/FavoritPro-Light.woff2') format('woff2'),
      url('fonts/FavoritPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro Book';
  src: url('fonts/FavoritPro-BookItalic.woff2') format('woff2'),
      url('fonts/FavoritPro-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('fonts/FavoritPro-Regular.woff2') format('woff2'),
      url('fonts/FavoritPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('fonts/CormorantSC-Regular.woff2') format('woff2'),
      url('fonts/CormorantSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Favorit Pro";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.col {
    /* border: 1px solid black; */
    width: 300px;
    min-width: 300px;
    height: 900px;
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
  }

  .col-2 {
    /* border: 1px solid black; */
    width: 300px;
    min-width: 300px;
    height: 900px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    
  }

  .grid{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .text {
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 150px;
    transform: rotate(-90deg);
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }
  
  .sans {
    display: inline-block;
    transform: translate(50px, -40px);
  }
  
  .soleil {
    display: inline-block;
    transform: translate(-50px, 10px);
  }

  .grizzly {
    display: inline-block;
    transform: translate(0px, -70px);
  }

  .grizzly-page {
    display: inline-block;
    transform: translate(-80px, 480px);
  }

  .text-vertical-150 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 150px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }

  .text-170 {
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 170px;
    transform: rotate(-90deg);
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }

  .under {
    display: inline-block;
    transform: translate(290px, -57px);
  }

  .the-sun {
    display: inline-block;
    transform: translate(-299px, 62px);
  }

  .text-vertical-55 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 55px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }

  .the-act {
    display: inline-block;
    transform: translate(0px, -30px);
  }

  .honeyland {
    display: inline-block;
    transform: translate(0px, 0px);
  }

  .la-causa {
    display: inline-block;
    transform: translate(0px, -50px);
  }

  .ukr {
    display: inline-block;
    transform: translate(430px, -60px);
  }

  .sheriffs {
    display: inline-block;
    transform: translate(-452px, 59px);
  }

  .midnight {
    display: inline-block;
    transform: translate(-55px, 265px);
  }

  .traveler {
    display: inline-block;
    transform: translate(60px, -1668px);
  }

  .call-me {
    display: inline-block;
    transform: translate(0px, -50px);
  }

  .homo {
    display: inline-block;
    transform: translate(0px, -12px);
  }

  .side-menu {
    position: fixed;
    right: 0;
    top: -3px;
    border: 1px solid black;
    width: 20px;
    min-width: 20px;
    height: 900px; 
    overflow-y: auto; 
  }  

  .text1-menu {
    display: flex;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 14px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    text-orientation: upright;
    margin-top: 10px;
    transform: rotate(90deg)
  }
  
  .text2-menu {
    display: flex;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 14px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    text-orientation: upright;
    margin-top: 100px;
    transform: rotate(90deg)
  }

  .text3-menu {
    display: flex;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 14px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    text-orientation: upright;
    margin-top: 103px;
    transform: rotate(90deg)
  }

  iframe {
    margin: -25px 0px;
    border: none;
    }
  

  
 