*,
* ::after,
* ::before {
    box-sizing: border-box;
}
@font-face {
  font-family: 'DokChampa';
  src: url('../fonts/DokChampa.woff2') format('woff2'),
      url(' ../fonts/DokChampa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/FavoritPro-Bold.woff2') format('woff2'),
      url('../fonts/FavoritPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/FavoritPro-BoldItalic.woff2') format('woff2'),
      url('../fonts/FavoritPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro Book';
  src: url('../fonts/FavoritPro-Book.woff2') format('woff2'),
      url('../fonts/FavoritPro-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/FavoritPro-LightItalic.woff2') format('woff2'),
      url('../fonts/FavoritPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/FavoritPro-Medium.woff2') format('woff2'),
      url('../fonts/FavoritPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/FavoritPro-MediumItalic.woff2') format('woff2'),
      url('../fonts/FavoritPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/FavoritPro-Italic.woff2') format('woff2'),
      url('../fonts/FavoritPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/FavoritPro-Light.woff2') format('woff2'),
      url('../fonts/FavoritPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro Book';
  src: url('../fonts/FavoritPro-BookItalic.woff2') format('woff2'),
      url('../fonts/FavoritPro-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Favorit Pro';
  src: url('../fonts/FavoritPro-Regular.woff2') format('woff2'),
      url('../fonts/FavoritPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cormorant SC';
  src: url('../fonts/CormorantSC-Regular.woff2') format('woff2'),
      url('../fonts/CormorantSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Favorit Pro";
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin: 0%;
}

.col {
    /* border: 1px solid black; */
    width: 300px;
    min-width: 300px;
    height: 900px;
    display: flex;
    align-items:center;
    justify-content: center;
    overflow: hidden;
  }

  .col-2 {
    /* border: 1px solid black; */
    width: 300px;
    min-width: 300px;
    height: 900px; 
    display: flex;
    overflow: hidden;
    justify-content: center;
    
  }

  .grid{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-top: 25px;
  }

  .grid-main{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
  }

  .text {
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 150px;
    transform: rotate(-90deg);
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }
  
  .sans {
    display: inline-block;
    transform: translate(50px, -40px);
  }

  .sans-film-page {
    display: inline-block;
    transform: translate(-660px, -10px);
  }
  
  .soleil {
    display: inline-block;
    transform: translate(-50px, 10px);
  }

  .soleil-film-page {
    display: inline-block;
    transform: translate(-765px, 50px);
  }

  .grizzly {
    display: inline-block;
    transform: translate(0px, -70px);
  }

  .grizzly-page {
    display: inline-block;
    transform: translate(-60px, 510px);
  }

  .text-vertical-150 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 150px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }

  .text-170 {
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 170px;
    transform: rotate(-90deg);
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }

  .under {
    display: inline-block;
    transform: translate(290px, -57px);
  }

  .the-sun {
    display: inline-block;
    transform: translate(-299px, 62px);
  }

  .text-vertical-55 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 55px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }

  .the-act {
    display: inline-block;
    transform: translate(0px, -30px);
  }

  .honeyland {
    display: inline-block;
    transform: translate(0px, 0px);
  }

  .la-causa {
    display: inline-block;
    transform: translate(0px, -50px);
  }

  .ukr {
    display: inline-block;
    transform: translate(430px, -60px);
  }

  .sheriffs {
    display: inline-block;
    transform: translate(-452px, 59px);
  }

  .midnight {
    display: inline-block;
    transform: translate(-55px, 265px);
  }

  .traveler {
    display: inline-block;
    transform: translate(60px, -1668px);
  }

  .call-me {
    display: inline-block;
    transform: translate(0px, -50px);
  }

  .homo {
    display: inline-block;
    transform: translate(0px, -12px);
  }

  .text1-menu {
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 14px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
  }
  
  .text2-menu {
    display: flex;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 14px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    text-orientation: upright;
    margin-top: 100px;
    transform: rotate(90deg)
  }

  .text3-menu {
    display: flex;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 14px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    text-orientation: upright;
    margin-top: 103px;
    transform: rotate(90deg)
  }

  .text4-menu {
    display: flex;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 14px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    text-orientation: upright;
    margin-top: 130px;
    transform: rotate(90deg)
  }

  .text5-menu {
    display: flex;
    font-family: "Favorit Pro";
    font-weight: normal;
    font-style: normal; 
    text-transform: uppercase; 
    font-size: 14px;
    white-space: nowrap;
    color: black;
    text-decoration: none;
    text-orientation: upright;
    margin-top: 150px;
    transform: rotate(90deg)
  }

  iframe {
    margin: -25px 0px;
    border: none;
    }

    .side-film-name {
      position: fixed;
      left: 0;
      top: 0px; 
      width: 300px;
      min-width: 300px;
      height: 900px; 
      /* overflow-y: auto;  */
    }  
  
    .col-back {
      position: absolute;
      position: fixed;
      bottom: 0;
      height: 100vH;
      z-index: 100;
      display: flex;
      flex-direction: column-reverse;
      color: black;
      text-decoration: none;    
  }
  
  
  .margin-top {
      margin-top: 400px;
  }
  
  .movie-wrapper {
      margin-left: 385px;
      margin-top: -25px;
  }
  .description-container {
      display: flex;
      margin-bottom: 55px;
      margin-top: 70px;
  }
  .crew-details {
      margin-left: 75px;
  }
  .director-info {
      width: 220px;
      margin-left: auto;
      margin-right: 12px;
      margin-top: -25px;
  }
  .movie-description {
      width: 220px;
      text-transform: none;
  }
  .font-size-24 {
      font-size: 24px;
  }
  .font2caps {
      font-family: "Cormorant SC";
      font-weight: normal;
      font-style: normal;
      text-transform: uppercase;
      font-size: 14px;
  }
  
  .font2 {
      font-family: "Cormorant SC";
      font-weight: normal;
      font-style: normal;
      text-transform: none;
      font-size: 14px;
  }
  .marker-image {
      margin-top: 100px;
      background-image: url("../images/Chris_Marker.jpg"); 
      background-repeat: repeat;
      height: 290px;
  }
  
  .herzog-image {
      margin-top: 100px;
      background-image: url("../images/herzog.png"); 
      background-repeat: repeat;
      height: 530px;
  }
  
  .marker-image {
      margin-top: 100px;
      background-image: url("../images/Chris_Marker.jpg"); 
      background-repeat: repeat;
      height: 300px;
  }

  /* .img-hint {
    position: relative;
    color: black;
    cursor: pointer;
  }

  .img-hint:hover::after {
    display: block;
    position :absolute;
    content: "";
    left: 50%;
    top: 50%
    transform: translate(-50%, -50%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
  }

  .img-hint-1:hover::after {
    background-image: url(../images/sans-soleil.jpg);
    width: 315px;
    height: 200px;
  } */

 .grow-on-hover {
   transition: transform 0.3s ease-in-out 0.1s; 
 }

 .grow-on-hover:hover {
   transform: scale(0.5);
 }

 .grow-on-hover2 {
  transition: transform 0.3s ease-in-out 0.1s; 
}

 .grow-on-hover2:hover {
  transform: scale(0.3);
}

.image1 {
  width: 315px;
  position: absolute;
  left: 300px;
  top: 595px;
  display: none;
  z-index: 100;
}

.image2 {
  width: 685px;
  position: absolute;
  left: 980px;
  top: 140px;
  display: none;
  z-index: 1000;
}

.image3 {
  width: 335px;
  position: absolute;
  left: 35px;
  top: 80px;
  display: none;
  z-index: 100;
}

.image4 {
  width: 290px;
  position: absolute;
  left: 0px;
  top: 635px;
  /* opacity: 0; */
  display: none;
  z-index: 100;
}

.image5 {
  width: 620px;
  position: absolute;
  left: 635px;
  top: 150px;
  display: none;
  z-index: 1000;
}

.image6 {
  width: 435px;
  position: absolute;
  left: 975px;
  top: 70px;
  display: none;
  z-index: 1000;
}

.image7 {
  width: 590px;
  position: absolute;
  left: 0px;
  top: 475px;
  /* opacity: 0; */
  z-index: 1000;
  display: none;
}

.visible {
  /* opacity: 1; */
  display: block;
}

.upper-menu {
  position: fixed;
  top: -1px;
  border: 1px solid black;
  background-color: white;
  width: 100%;
  height: 22px; 
  /* overflow-x: auto;  */
  z-index: 1000;
}  

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  padding: 1px 18px;
  }
